.container {
    padding: 20px 0 20px 0;
    background-color: white;
    .detail-section {
        // background-color: red;
        display: flex;
        height: 60px;

        label {
            min-width: 150px;
        }

    }
}


    table {
        tbody {
            tr{
                td:first-child {
                    // background-color: red;
                    // width: 200px;
                }
            }
        }
    }
